<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
  <div class="d-flex">
    <div style="width:294px;">
    <div class="bg-light answer">
      <ul class="nav flex-column mt-3">
        <img src="assets/images/logo-ANSWER.svg" alt="">
        <li class="nav-item mt-4">
          <a class="nav-link text-dark ps-4 list" href="#">  
            <span class="material-symbols-outlined pe-3 align-middle">
            Dashboard
            </span>Dashboard</a>
        </li>
        <li class="nav-item mt-4">
          <a class="nav-link text-dark ps-4 list" href="#">  
            <span class="material-symbols-outlined pe-3 align-middle">
              question_answer
              </span>Question</a>
        </li>
        <li class="nav-item mt-4">
          <a class="nav-link text-dark ps-4 list" href="#">  
            <span class="material-symbols-outlined pe-3 align-middle">
              Assignment
            </span>Assignment</a>
        </li>
        <li class="nav-item mt-4">
          <a class="nav-link text-dark ps-4 list" href="#">  
            <span class="material-symbols-outlined pe-3 align-middle">
              shop_two
            </span>Course</a>
        </li>
        <li class="nav-item mt-4">
          <a class="nav-link text-dark ps-4 list" href="#">  
            <span class="material-symbols-outlined pe-3 align-middle">
              supervisor_account
            </span>Admin</a>
        </li>
        <li class="nav-item mt-4">
          <a class="nav-link text-dark ps-4 list" href="#">  
            <span class="material-symbols-outlined pe-3 align-middle">
              Settings
            </span>Settings</a>
        </li>
      </ul>

      <div class="d-flex align-items-center ps-4">
        <img class="me-3 rounded-circle" src="assets/images/andychen.jpeg" alt="" width="40px" height="40px">
        <div>
        <h2>Andy Chen</h2>
        <h3>andy0401@mail.com</h3>
        </div>
      </div>
    </div>
    </div>
    <%- contents %>

  </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>